body {
	margin: 0;
	min-width: 100vw;
	min-height: 100vh;
	background: black;
	color: white;
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	overflow: hidden;
}

h2 {
	margin-top: 15vh;
	margin-bottom: 0;
	font-weight: 100;
	font-size: 50px;
}

h1 {
	margin-top: 10px;
	font-size: 250px;
	margin-bottom: 10px;
}

div {
	margin: 0 auto;
	margin-bottom: 40px;
}

.gone {
	display: none;
}

input {
	height: 50px;
	margin-right: 10px;
	font-size: 14pt;
	width: 100px;
	border: 1px solid #6c6c6c;
	background: #111;
	color: white;
	text-align: center;
	border-radius: 10px;
}

input:focus {
	outline: none;
}

/* Thanks to http://www.graemeboy.com/ */
.button {
    position: relative;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Helvetica Neue', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;  
    background-color: #db3434;
    border-bottom: 5px solid #b92929;
    text-shadow: 0px -2px #b92929;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
	-webkit-user-select: none;
}

.connected-right {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: 0;
}

.connected-left {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 0;
}

.button:hover, 
.button:focus {
    text-decoration: none;
    color: #fff;
}

.button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid #db3434;
}